#myDiv {
    height: 100px;
    width: 200px;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid black;
    padding: 50px 25px;
    margin-left: 50px;
}